[project]
name = "file-sync-pro"
version = "0.1.0a4"
description = ""
# readme = "README.md"
authors = [{ name = "Likianta", email = "likianta@foxmail.com" }]
packages = [{ include = "file_sync_pro", from = "src" }]
requires-python = ">=3.12"
dynamic = ["dependencies"]
# license = "MIT"

# [project.urls]
# homepage = ""

[tool.poetry.dependencies]
python = "^3.12"

# --- essentials
airmise = { version = "^0.4.0", source = "likianta" }
argsense = { version = "^1.0.1", source = "likianta" }
lk-utils = { version = "^3.3.0a18", source = "likianta" }

# --- addons
ipython = "^9.4.0"
requests = { version = "^2.32.3", platform = "!=linux" }
# streamlit = { version = "^1.46.1", platform = "!=linux" }
streamlit = { version = ">=1.45.0,<1.46.0", platform = "!=linux" }
streamlit-canary = { version = "^0.1.0", source = "likianta", platform = "!=linux" }

[tool.poetry.group.dev.dependencies]
# qmlease = { 
#     version = "^3.1.0a31", 
#     source = "likianta", 
#     extras = ["ui"], 
#     python = ">=3.12,<3.14",
#     platform = "win32",
# }

[[tool.poetry.source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
priority = "primary"

[[tool.poetry.source]]
name = "likianta"
url = "http://localhost:2131/"
priority = "supplemental"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
