[project]
name = "file-sync-pro"
version = "0.2.0a11"
description = ""
# readme = "README.md"
authors = [{ name = "Likianta", email = "likianta@foxmail.com" }]
packages = [{ include = "file_sync_pro", from = "src" }]
requires-python = ">=3.12"
dynamic = ["dependencies"]

[tool.poetry.dependencies]
python = "^3.12"
# in this group we only list essential packages that are cross platform required.
# --- essentials
airmise = { version = "^2.0.0", source = "likianta" }
argsense = { version = "^1.1.1a0", source = "likianta" }
lk-utils = { version = "^3.4.2b0", source = "likianta" }

[tool.poetry.group.dev.dependencies]
ipython = "^9.6.0"
lk-logger = { version = ">=6.0.7,<6.1.0", source = "likianta" }
requests = { version = "^2.32.5", platform = "!=linux" }
streamlit = { version = "^1.50.0", platform = "!=linux" }
streamlit-canary = { version = "^0.1.1a4", source = "likianta", platform = "!=linux" }

[[tool.poetry.source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"
priority = "primary"

[[tool.poetry.source]]
name = "likianta"
url = "http://localhost:2131/"
priority = "supplemental"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
